@charset "UTF-8";  

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

ul {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: black;
    background-color: #eee;
    padding: 10px 20px;
    display: block;
}