
:root {
    --fundo: #fff;
    --texto-1: #111;
    --texto-2: #444;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fundo: #222;
        --texto-1: #eee;
        --texto-2: #bbb;
    }
}

body {
    background-color: var(--fundo);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

h1 {
    color: var(--texto-1);
}

p {
    color: var(--texto-2);
}