@charset "UTF-8"; 

body {
    font-size: 1.2rem;
}

label {
    display: block;
    margin-top: 30px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    border-radius: 4px;
    font-size: 1.2rem;
}

button {
    display: block;
    margin-top: 30px;
}